<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>github用户注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/tao.css}" href="/css/tao.css">
    <link rel="stylesheet" th:href="@{/dist/css/city-picker.css}" href="/dist/css/city-picker.css">
    <script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="/js/bootstrap.js"></script>
    <script th:src="@{/js/holder.min.js}" src="/js/holder.min.js"></script>
    <script th:src="@{/dist/js/city-picker.data.js}" src="/dist/js/city-picker.data.js"></script>
    <script th:src="@{/dist/js/city-picker.js}" src="/dist/js/city-picker.js"></script>
    <script th:inline="javascript" th:src="@{/js/login/loginMain.js}" src="/js/login/loginMain.js"></script>
    <script>



        function returnIndex() {
            window.location.href="/";
        }


        // 用户注册

        function githubRegister(){
            var pa=$('#password1').val();
            var pa2=$('#password2').val();
            if(pa!=pa2){
                alert("两次密码不一样")
            }else{
                $.ajax({
                    url:"/registerWithgit",
                    data:$("#githubform1").serialize(),
                    type:"post",
                    success:function (data) {
                        if(data==true){
                            alert("注册成功");
                            window.location.href="/";
                        }else{
                            alert("注册失败")
                        }
                    },
                    error:function (data) {
                        alert("ajax提交失败")
                    }
                })
            }



        }
    </script>

</head>
<body class="container">
<p class="text-center -align-center" style="font-size: large;margin-top: 50px;margin-bottom: 30px;"><b>github 用户注册</b></p>
<!--<div class="modal-body" style="background:rgba(255,255,255,0.3);!important;">-->
    <!--<form class="text-center" id="form1" action="/login/register">-->
        <!--<div class="form-inline form-group row">-->
            <!--<label class="form-control-static col-md-5">用户名</label>-->
            <!--<input placeholder="请输入真实姓名" name="name" type="text" class=" form-control col-md-7 " style="margin-left: -40px;">-->
        <!--</div>-->
        <!--<div class="form-inline form-group row">-->
            <!--<label class="form-control-static col-md-5">手机号</label>-->
            <!--<input placeholder="登陆时使用" name="phone" type="text" class=" form-control col-md-7 " style="margin-left: -40px;">-->
        <!--</div>-->
        <!--<div class="form-inline form-group row">-->
            <!--<label class="form-control-static col-md-5">密码</label>-->
            <!--<input id="password1" type="password" placeholder="请输入密码" name="password"  class=" form-control col-md-7 " style="margin-left: -40px;">-->
        <!--</div>-->
        <!--<div class="form-inline form-group row">-->
            <!--<label class="form-control-static col-md-5">确认密码</label>-->
            <!--<input id="password2" type="password" name="repassword" placeholder="再次输入密码" class=" form-control col-md-7 " style="margin-left: -40px;">-->
        <!--</div>-->
        <!--<div class="form-inline form-group row">-->
            <!--<label class="form-control-static col-md-5">收货地址</label>-->
            <!--<input type="text" name="address" class=" form-control col-md-7 " style="margin-left: -40px;" placeholder="默认收货地址">-->
        <!--</div>-->

        <!--<div class="form-inline form-group row">-->
            <!--<label class="form-control-static col-md-5">邮箱</label>-->
            <!--<input type="tel" placeholder="请输入邮箱" name="email" class=" form-control col-md-7 " style="margin-left: -40px;">-->
        <!--</div>-->
        <!--<div class="form-inline form-group row">-->
            <!--<label class="form-control-static col-md-5">请选择性别</label>-->
            <!--<input type="radio" name="sex" class="pull-left" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-left">女</span>&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--<input type="radio" class="pull-left" style="margin-left: 50px;" name="sex" value="0">&nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-left">男</span>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="form-inline form-group row">&ndash;&gt;-->
        <!--&lt;!&ndash;<label class="col-md-5 form-control-static">验证码</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-7" style="margin-left: -70px;">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" placeholder="暂未开通" class="pull-left form-control" style="width: 110px;">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-info " style="width:50px;margin-left:15px;text-align: justify">&ndash;&gt;-->
        <!--&lt;!&ndash;发送&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</form>-->


<!--</div>-->

<!--注册-->
<div>
                <!--<form class="text-center" id="githubform1" action="/login/register">-->
                <form class="text-center" id="githubform1" >

                    <div class="form-inline form-group row">
                        <label class="form-control-static col-md-5">github用户</label>
                        <input readonly type="text" th:value="${githubName}" class=" form-control col-md-7 " style="margin-left: -40px;">
                    </div>
                    <div class="form-inline form-group row">
                        <label class="form-control-static col-md-5">手机号/登录用户名</label>
                        <input placeholder="登陆时使用" name="phone" type="text" class=" form-control col-md-7 " style="margin-left: -40px;">
                    </div>
                    <div class="form-inline form-group row">
                        <label class="form-control-static col-md-5">姓名</label>
                        <input placeholder="请输入真实姓名" name="name" type="text" class=" form-control col-md-7 " style="margin-left: -40px;">
                    </div>
                    <div class="form-inline form-group row">
                        <label class="form-control-static col-md-5">密码</label>
                        <input id="password1" type="password" placeholder="请输入密码" name="password"  class=" form-control col-md-7 " style="margin-left: -40px;">
                    </div>
                    <div class="form-inline form-group row">
                        <label class="form-control-static col-md-5">确认密码</label>
                        <input id="password2" type="password" name="repassword" placeholder="再次输入密码" class=" form-control col-md-7 " style="margin-left: -40px;">
                    </div>
                    <div class="form-inline form-group row">
                        <label class="form-control-static col-md-5">收货地址</label>
                        <input type="text" name="address" class=" form-control col-md-7 " style="margin-left: -40px;" placeholder="默认收货地址">
                    </div>

                    <div class="form-inline form-group row">
                        <label class="form-control-static col-md-5">邮箱</label>
                        <input type="tel" placeholder="请输入邮箱" name="email" class=" form-control col-md-7 " style="margin-left: -40px;">
                    </div>
                    <div class="form-inline form-group row">
                        <label class="form-control-static col-md-5">请选择性别</label>
                        <input type="radio" name="sex" class="pull-left" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-left">女</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="pull-left" style="margin-left: 50px;" name="sex" value="0">&nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-left">男</span>
                    </div>
                </form>


            </div>
            <div class="modal-footer text-center text-center -align-center center-block">
                <input type="reset" value="返回首页"  onclick="returnIndex()" class="btn btn-default">
                <button type="submit" class="btn btn-info" onclick="githubRegister()">提交</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>